/* Define your variables as CSS custom properties */
:root {
  --color1: #fff;
  --color2: #3197EE;
}

.radio {
  margin: 0.5rem;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label {
  &:before {
    content: '';
    background: var(--color1);
    border-radius: 100%;
    border: 1px solid #838383;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
}

.radio input[type="radio"]:checked + .radio-label {
  &:before {
    background-color: var(--color2);
    box-shadow: inset 0 0 0 4px var(--color1);
  }
}

.radio input[type="radio"]:focus + .radio-label {
  &:before {
    outline: none;
    border-color: var(--color2);
  }
}

.radio input[type="radio"]:disabled + .radio-label {
  &:before {
    box-shadow: inset 0 0 0 4px var(--color1);
    border-color: darken(var(--color1), 25%);
    background: darken(var(--color1), 25%);
  }
}

.radio input[type="radio"] + .radio-label:empty {
  &:before {
    margin-right: 0;
  }
}
