ion-img::part(image) {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
}
ion-card {
  margin: 0;
}
.ion-card-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}