.ion-input {
    --padding-start: 10px !important;
}
.input-label-placement-stacked.sc-ion-input-md-h .input-wrapper.sc-ion-input-md, .input-label-placement-floating.sc-ion-input-md-h .input-wrapper.sc-ion-input-md {
    padding: 0 !important;
}