.ion-invalid {
    --color: red;
    --border-color: red;
  }
  .input-wrapper {
    padding: 0 10px !important;
  }
  .form-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }