.d-flex {
  display: flex
}
.ion-cursor-pointer {
  cursor: pointer;
}
.ion-content {
  @media(min-width: 768px) {
    --keyboard-offset: 0;
  }
  /* @media(max-width: 768px) {
    --keyboard-offset: 0;
  } */
}
.purchase-tabs::after {
  background: none !important;
}